<div class="container d-flex justify-content-center mt-5">
  <div class="card mt-4 border-primary" style="width: 400px;">
    <h5 class="card-header bg-primary text-white">
      <i class="bi bi-chat-dots"></i> Start Chat
    </h5>
    
    <div class="card-body">
      <% if current_user.employee? %>
        <div class="text-center mb-4">
          <h1>Chat with Chef</h1>
        </div>
      <% elsif current_user.chef? %>
        <div class="text-center mb-4">
          <h1>Chat with Employee</h1>
        </div>
      <% end %>

      <%= form_with(model: @channel, url: channels_path, method: :post) do |form| %>
        <div class="form-group">
          <% if current_user.employee? %>
            <%= form.select :chef_id, options_for_select([["Select Chef...", nil]] + @chefs.map { |chef| [chef.name, chef.id] }), {}, class: "form-control" %>
            <%= form.hidden_field :employee_id, value: current_user.id %>
          <% elsif current_user.chef? %>
            <%= form.select :employee_id, options_for_select([["Select Employee...", nil]] + @employees.map { |employee| [employee.name, employee.id] }), {}, class: "form-control" %>
            <%= form.hidden_field :chef_id, value: current_user.id %>
          <% end %>
        </div>
        <div class="mt-3">
          <%= form.submit "Start Chat", class: "btn btn-primary" %>
        </div>
      <% end %>
      <div class="mt-3">    
        <% if current_user.role == "employee" %>
          <%= link_to 'Back', employee_dashboard_index_path, class: 'btn btn-secondary' %>
        <% elsif current_user.role == "chef" %>
          <%= link_to 'Back', chef_dashboard_index_path, class: 'btn btn-secondary' %>
        <% end %>
      </div>

    </div>
  </div>
</div>
