<div class="container mt-5">
  <div class="card border-primary p-4">
    <h1 class="text-primary mb-4">Edit Food Menu</h1>

    <%= form_with(model: @food_menu, url: food_menu_path(@food_menu), method: :patch, multipart: true) do |form| %>
      <div class="form-group">
        <%= form.label :food_category_id, 'Food Category' %>
        <%= form.collection_select :food_category_id, @food_categories, :id, :name, prompt: 'Select a category', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :title, 'Title' %>
        <%= form.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :price, 'Price' %>
        <%= form.text_field :price, class: 'form-control' %>
      </div>

      <div class="d-flex justify-content-between">
        <div class="mt-3">
          <%= form.submit 'Update', class: 'btn btn-primary' %>
        </div>

        <div class="mt-3">
          <%= link_to 'Back to Food Menus', food_menus_path, class: 'btn btn-secondary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
