<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card border-dark shadow-lg bg-white text-dark">
        <div class="card-body">
          <h2 class="card-title text-center mb-4"><i class="bi bi-person-fill"></i> Complete Your Profile</h2>
          <p class="card-text text-center">
            Before you can proceed, please complete your profile by providing your role, name, and contact information.
          </p>
          <%= form_for @user, url: save_registration_user_path(@user), method: :post do |f| %>
            <div class="form-group mb-4">
              <strong><%= f.label :role %></strong>
              <%= f.select :role, [['Select a role', ''], ['Employee', 'employee'], ['Chef', 'chef']], {}, { class: "form-control", id: "role-select" } %>
              <% if @user.errors.has_key?(:role) %>
              <p class="text-danger"><%= @user.errors.full_messages_for(:role).first %></p>
              <% end %>
            </div>
            <div class="form-group mb-4" id="company-field">
              <strong><%= f.label :associated_company_id %></strong>
              <% options = @companies&.map { |company| [company.name, company.id] } || [] %>
              <%= f.select :company_id, options.push(['other']), { prompt: "Select a company" }, class: "form-control", id: "company-select" %>
              <% if @user.errors.has_key?(:company_id) %>
              <p class="text-danger"><%= @user.errors.full_messages_for(:company_id).first %></p>
              <% end %>
            </div>
            
            <div id="other-company-form" style="display: none;">
              <div class="form-group mb-4">
                <strong>Company Name:</strong>
                <%= f.text_field :other_company_name, class: "form-control", placeholder: "Enter company name" %>
              </div>
              <div class="form-group mb-4">
                <strong>Pincode:</strong>
                <%= f.text_field :pincode, class: "form-control", placeholder: "Enter pincode" %>
              </div>
            </div>
            <div class="form-group mb-4" id="food-store-field" style="display: none;">
              <strong><%= f.label :food_store_id %></strong>
              <% options = @food_stores&.map { |food_store| [food_store.name, food_store.id] } || [] %>
              <%= f.select :food_store_id, options, { prompt: "Select a food store" }, { class: "form-control" } %>
              <% if @user.errors.has_key?(:food_store_id) %>
              <p class="text-danger"><%= @user.errors.full_messages_for(:food_store_id).first %></p>
              <% end %>
            </div>
            <div class="form-group mb-4">
              <strong><%= f.label :name %></strong>
              <%= f.text_field :name, class: "form-control", placeholder: "Enter your name" %>
              <% if @user.errors.has_key?(:name) %>
              <p class="text-danger"><%= @user.errors.full_messages_for(:name).first %></p>
              <% end %>
            </div>
            <div class="form-group mb-4">
              <strong><%= f.label :phone_no %></strong>
              <%= f.text_field :phone_no, class: "form-control", placeholder: "Enter your phone number" %>
              <% if @user.errors.has_key?(:phone_no) %>
              <p class="text-danger"><%= @user.errors.full_messages_for(:phone_no).first %></p>
              <% end %>
            </div>
            <div class="form-group mt-3">
              <%= f.submit "Save", class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var roleSelect = document.getElementById("role-select");
    var companyField = document.getElementById("company-field");
    var foodStoreField = document.getElementById("food-store-field");
    var companySelect = document.getElementById("company-select");
    var otherCompanyForm = document.getElementById("other-company-form");

    roleSelect.addEventListener("change", function() {
      if (roleSelect.value === "chef") {
        companyField.style.display = "none";
        foodStoreField.style.display = "block";
      } else {
        companyField.style.display = "block";
        foodStoreField.style.display = "none";
      }
    });

    companySelect.addEventListener("change", function() {
      if (companySelect.value === "other") {
        otherCompanyForm.style.display = "block";
      } else {
        otherCompanyForm.style.display = "none";
      }
    });
  });
</script>
