<div class="container mt-5">
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="card border-primary">
        <div class="card-body">
          <h3 class="card-title">Order History</h3>
          <% if @orders.any? %>
            <table class="table table-bordered">
              <thead>
                <tr>
                  
                  <th>Food Items</th>
                  <th>Quantities</th>
                  <th>Price</th>
                  <th>Status</th>
                  <th>Date and Time</th>
                </tr>
              </thead>
              <tbody>
                <% @orders.each do |order| %>
                  <tr>
                    
                    <td><%= order.food_item_names.join(", ") %></td>
                    <td><%= order.quantities.join(", ") %></td>
                    <td><%= order.prices.join(", ")%></td>
                    <td><%= order.status %></td>
                    <td><%= order.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <p>No order history available.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-5">
  <%= link_to 'Back', employee_dashboard_index_path, class: 'btn btn-secondary' %>
</div>