<div class="container">
  <h1>Company Details</h1>

  <div class="card shadow">
    <div class="card-body">
      <h5 class="card-title">Company Name: <%= @company.name %></h5>
      <p class="card-text">Address: <%= @company.address %></p>
      <p class="card-text">Latitude: <%= @company.latitude %></p>
      <p class="card-text">Longitude: <%= @company.longitude %></p>
    </div>
  </div>

  <div class="mt-3">
    <%= link_to 'Edit', companies_path, class: 'btn btn-primary' %>
    <%= link_to 'Back', companies_path, class: 'btn btn-secondary' %>
  </div>
</div>
