<div class="container mt-5">
   <div class="row justify-content-center">
      <div class="col-md-8">
         <div class="card border-primary">
            <div class="card-header text-center">
               <h3 class="card-title">Employee Details</h3>
            </div>
            <div class="card-body text-center">
               <p class="card-text"><strong><i class="bi bi-person-fill"></i> Employee Name:</strong> <%= current_user.name %></p>
               <p class="card-text"><strong><i class="bi bi-telephone-fill"></i> Employee Phone Number:</strong> <%= current_user.phone_no %></p>
               <p class="card-text">
                  <strong><i class="bi bi-building"></i> Company Name:</strong> 
                  <% if current_user.company_id.zero? %>
                  Other
                  <% else %>
                  <%= current_user.company.name %>
                  <% end %>
               </p>
               <div class="position-relative">
                  <button type="button" class="btn btn-link notification-icon position-absolute top-0 end-0 mt-3" data-bs-toggle="modal" data-bs-target="#notificationModal">
                  <i class="bi bi-bell"></i>
                  <span class="badge bg-danger rounded-circle" id="notification-count" data-current-user-id="<%= current_user.id %>">
                  <%= @notifications.select { |notification| !notification.read }.size %>
                  </span>
                  </button>
               </div>
               <div class="d-flex justify-content-center mt-3">
                  <%= link_to 'Edit', edit_user_path(current_user), class: 'btn btn-primary mr-2' %>
                  <%= button_to 'Logout', logout_path, data: { confirm: 'Are you sure?' }, class: 'btn btn-success' %>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
         <div class="modal-header bg-light sticky-top shadow">
            <div style="padding-right:2rem;">
            <h5 class="modal-title mb-0">Notifications</h5></div>
            <button type="button" class="btn btn-primary me-auto my-2" id="mark-all-as-read-button">
               Mark All as Read
            </button>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body mt-5">
            <ul class="list-group notification-list" id="notification-list">
               <% if @notifications.any? %>
               <% @notifications.each do |notification| %>
               <li class="list-group-item">
                  <i class="bi bi-check-circle-fill me-2 text-success"></i>
                  <span class="<%= 'text-muted' if notification.read %>">
                  <%= notification.message %>
                  </span>
               </li>
               <% end %>
               <% else %>
               <li class="list-group-item font-italic">No notifications.</li>
               <% end %>
            </ul>
         </div>
      </div>
   </div>
</div>
<div class="container mt-5">
   <div class="row mt-4">
      <div class="col-md-6">
         <div class="card border-primary">
            <div class="card-body">
               <h3 class="card-title">Order Here</h3>
               <% if @current_user.approved? %>
               <%= link_to orders_path, method: :get, class: 'btn btn-primary', id: 'order-food-button' do %>
               <i class="bi bi-cart-plus-fill"></i> Order Food
               <% end %>
               <% else %>
               <div class="alert alert-warning mb-3">
                  <strong>Please wait for admin approval.</strong>
               </div>
               <button class="btn btn-primary" disabled>
               <i class="bi bi-cart-plus-fill"></i> Order Food
               </button>
               <% end %>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="card border-primary">
            <div class="card-body">
               <h3 class="card-title">Food Gallery</h3>
               <%= link_to gallery_path, method: :get, class: 'btn btn-primary' do %>
               <i class="bi bi-images"></i> Gallery
               <% end %>
            </div>
         </div>
      </div>
   </div>
   <div class="row mt-4">
      <div class="col-md-6">
         <div class="card border-primary">
            <div class="card-body">
               <h3 class="card-title">Chat with Chef</h3>
               <% if @current_user.approved? %>
               <%= link_to select_users_channels_path, method: :get, class: 'btn btn-primary', id: 'start-chat-button' do %>
               <i class="bi bi-chat-dots"></i> Start Chat
               <% end %>
               <% else %>
               <div class="alert alert-warning mb-3">
                  <strong>Please wait for admin approval.</strong>
               </div>
               <button class="btn btn-primary" disabled>
               <i class="bi bi-chat-dots"></i> Start Chat
               </button>
               <% end %>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="card border-primary">
            <div class="card-body">
               <h3 class="card-title">Order Histories</h3>
               <%= link_to order_history_path, class: 'btn btn-primary' do %>
               <i class="bi bi-clock-history"></i> See Order History
               <% end %>
            </div>
         </div>
      </div>
   </div>
</div>
<script>
   document.addEventListener('turbolinks:load', function() {
  const orderFoodButton = document.getElementById('order-food-button');
  if (orderFoodButton) {
    orderFoodButton.addEventListener('click', function(event) {
      if (!<%= @current_user.approved? %>) {
        event.preventDefault();
      }
    });
  }

  const startChatButton = document.getElementById('start-chat-button');
  if (startChatButton) {
    startChatButton.disabled = !<%= @current_user.approved? %>;
  }

  function handleMarkAsRead(response) {
    if (response.status === 'success') {
      const notificationItem = document.getElementById(`notification-${response.notification_id}`);
      if (notificationItem) {
        notificationItem.classList.add('text-muted');
      }
    }
  }

  function handleMarkAllAsRead(response) {
    if (response.status === 'success') {
      const notificationItems = document.querySelectorAll('.notification-item');
      notificationItems.forEach(item => {
        item.classList.add('text-muted');
      });
    }
  }

  const markAsReadButtons = document.querySelectorAll('[data-mark-notification-read]');
  markAsReadButtons.forEach(button => {
    button.addEventListener('click', function() {
      const notificationId = this.getAttribute('data-mark-notification-read');
      fetch(`/mark_notification_read/${notificationId}`, { method: 'PATCH' })
        .then(response => response.json())
        .then(handleMarkAsRead);
    });
  });

  const markAllAsReadButton = document.getElementById('mark-all-as-read-button');
  if (markAllAsReadButton) {
    markAllAsReadButton.addEventListener('click', function() {
      fetch('/mark_all_notifications_read', { method: 'POST' })
        .then(response => response.json())
        .then(handleMarkAllAsRead);
    });
  }
});

</script>