<div class="container mt-3">
   <div class="row justify-content-center">
      <div class="col-md-8">
         <div class="card border-primary">
            <div class="card-header text-center">
               <h3 class="card-title">Chef Details</h3>
            </div>
            <div class="card-body text-center">
               <p class="card-text"><strong><i class="bi bi-person-fill"></i> Chef Name:</strong> <%= current_user.name %></p>
               <p class="card-text"><strong><i class="bi bi-telephone-fill"></i> Chef Phone Number:</strong> <%= current_user.phone_no %></p>
               <p class="card-text"><strong><i class="bi bi-shop"></i> Food Store Name:</strong> <%= current_user.food_store&.name %></p>
               <div class="d-flex justify-content-center mt-3">
                  <div class="p-1">
                  <%= link_to edit_user_path(current_user), class: 'btn btn-primary mr-3' do %>
                  <i class="bi bi-pencil-fill"></i> Edit
                  <% end %>
                  </div>
                  <div class="p-1">
                  <%= button_to logout_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-success' do %>
                  <i class="bi bi-box-arrow-right"></i> Logout
                  <% end %>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container mt-3">
   <div class="row mt-4">
      <div class="col-md-6">
         <div class="card border-primary">
            <div class="card-body">
               <h3 class="card-title">Gallery Management</h3>
               <% if current_user.approved? %>
               <%= link_to photos_path, method: :get, class: 'btn btn-primary' do %>
               <i class="bi bi-card-image"></i> Manage Food Photos
               <% end %>
               <% else %>
               <div class="alert alert-warning mb-3">
                  <strong>Please wait for admin approval.</strong>
               </div>
               <button class="btn btn-primary" disabled>
               <i class="bi bi-card-image"></i> Manage Food Photos
               </button>
               <% end %>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="card border-primary">
            <div class="card-body">
               <h3 class="card-title">Add Food Menu</h3>
               <% if current_user.approved? %>
               <%= link_to food_menus_path, method: :get, class: 'btn btn-primary' do %>
               <i class="bi bi-menu-down"></i> Food Menu
               <% end %>
               <% else %>
               <div class="alert alert-warning mb-3">
                  <strong>Please wait for admin approval.</strong>
               </div>
               <button class="btn btn-primary" disabled>
               <i class="bi bi-menu-down"></i> Food Menu
               </button>
               <% end %> 
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container mt-3">
   <div class="row mt-4">
      <div class="col-md-6">
         <div class="card border-primary">
            <div class="card-body">
               <h3 class="card-title">Chat with Employee</h3>
               <% if current_user.approved? %>
               <%= link_to select_users_channels_path, method: :get, class: 'btn btn-primary' do %>
               <i class="bi bi-chat-dots"></i> Start Chat
               <% end %>
               <% else %>
               <div class="alert alert-warning mb-3">
                  <strong>Please wait for admin approval.</strong>
               </div>
               <button class="btn btn-primary" disabled>
               <i class="bi bi-chat-dots"></i> Start Chat
               </button>
               <% end %>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="card border-primary">
            <div class="card-body">
               <h3 class="card-title">Food Order Status Management</h3>
               <% if current_user.approved? %>
               <%= link_to order_status_path, class: 'btn btn-primary btn-block' do %>
               <i class="bi bi-list-check"></i> Food Order Status
               <% end %>
               <% else %>
               <div class="alert alert-warning mb-3">
                  <strong>Please wait for admin approval.</strong>
               </div>
               <button class="btn btn-primary btn-block" disabled>
               <i class="bi bi-list-check"></i> Food Order Status
               </button>
               <% end %>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container mt-3">
   <div class="row mt-4">
      <div class="col-md-6">
         <div class="card border-primary">
            <div class="card-body">
               <h3 class="card-title">Received Orders</h3>
               <% if current_user.approved? %>
               <%= link_to received_orders_path, class: 'btn btn-primary' do %>
               <i class="bi bi-clock-history"></i> Received Orders
               <% end %>
               <% else %>
               <div class="alert alert-warning mb-3">
                  <strong>Please wait for admin approval.</strong>
               </div>
               <button class="btn btn-primary" disabled>
               <i class="bi bi-chat-dots"></i> Start Chat
               </button>
               <% end %>
            </div>
         </div>
      </div>
   </div>
</div>