<div class="container mt-5">
  <h2 class="text-center mb-4">Gallery</h2>

  <% current_food_store_name = nil %>
  <% if @photos.any? %>
    <% @photos.each do |photo| %>
      <% if current_food_store_name != photo.user.food_store.name %>
        <% current_food_store_name = photo.user.food_store.name %>
        <div class="row mb-4">
          <div class="col-md-12">
            <div class="border-bottom pb-2">
              <% if photo.user.food_store.present? %>
                <h4><%= current_food_store_name %></h4>
              <% else %>
                <h4>Food Store Not Available</h4>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
      <% end %>
      <div class="col-md-3" style="width: 20%;">
        <div style="border: 1px solid #007bff; display: inline-block; padding: 2px;">
          <% if photo.image.attached? %>
            <a href="#" data-bs-toggle="modal" data-bs-target="#photo-modal-<%= photo.id %>">
              <%= image_tag photo.image, size: "100x100", class: "img-fluid" %>
            </a>
          <% else %>
            <p class="card-text text-center">No Image Available</p>
          <% end %>
        </div>
      </div>
      <% if current_food_store_name != photo.user.food_store.name || @photos.last == photo %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p class="text-center">Photos not uploaded yet</p>
  <% end %>
</div>

<div class="d-flex justify-content-center mt-3 p-2">
  <%= link_to 'Back', employee_dashboard_index_path, class: 'btn btn-secondary' %>
</div>

<% @photos.each do |photo| %>
  <div class="modal fade" id="photo-modal-<%= photo.id %>" tabindex="-1" role="dialog" aria-labelledby="photo-modal-label-<%= photo.id %>" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% if photo.image.attached? %>
            <%= image_tag photo.image, size: "800x800", style: "max-width: 100%; height: auto;" %>
          <% else %>
            <p>No Image Available</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
